.daily-activity-container{
    background-color: #FBFBFB;
    border-radius: 5px;
    position: relative;
    margin-bottom: 28px;
    width: 100%;
    height: 320px;
}

.daily-activity-title {
    font-size: 15px;
    font-weight: 500;
    color: #20253A;
    position: absolute;
    top: 40px;

}

.daily-activity-tooltip{
    background-color: #E60000;
    color: white;
    width: 39px;
    height: 63px;
    font-size: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
