.greetings{
    padding-bottom: 78px;
}

.greetings h1 {
    font-size: 48px;
    font-weight: 500;
}

.first-name {
    color: #FF0101;
}

.greetings p {
    font-size: 18px;
    font-weight: 400;
    padding-top: 42px;
}