.score-container {
    position: relative;
    width: 260px;
    height: 260px;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.score-title {
    position: absolute;
    top: 24px;
    left: 30px;
    font-size: 15px;
    font-weight: 500;
}

.score-result h2 {
    font-size: 26px;
    color: #282D30;
    font-weight: 700;
}

.score-result p {
    font-size: 16px;
    color: #74798C;
    font-weight: 500;
}

.score-result-container {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}