.dashboard-body{
    padding-top: 30px;
    padding-left: 30px;
}

.charts-container{
    display: flex;
    gap: 31px;
}

.session-performance-score-container{
    display: flex;
    justify-content: space-between;
}

.left-charts-container {
    width: 66%;
}
