.dashboard-body{
    padding-top: 30px;
    padding-left: 30px;
    width: calc(100% - 117px);
}

.charts-container{
    display: flex;
    gap: 31px;
}

.session-performance-score-container{
    display: flex;
    justify-content: space-between;
}

.left-charts-container {
    width: 75%;
}

@media screen and (max-width: 1179px){
    .charts-container{
        flex-wrap: wrap;
    }

    .left-charts-container {
        width: 100%;
    }
}
